.indicator{
  margin-top: 5px;
  text-align: center;
}

.indicatorContainer{
  display: inline-block;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 0 auto;
}

.statusCircle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F44336;
  float: left;
}

.statusText{
  margin-left: 25px;
  line-height: 15px;
}
